.layout {
    display: flex;
    min-height: 100vh;
    background-color: var(--background);
}

.main {
    flex: 1;
    margin-left: 250px;
    /* Match sidebar width */
    padding: 2rem;
    overflow-y: auto;
}